# [[AUTH]] - Configurations
CLIENT_API_TOKEN=token-to-read-data
ADMIN_API_TOKEN=token-to-write-data

# [[BLOCKCHAIN CLIENT]] - Configurations

NETWORK=algorand-net
APP_ID=app-id

# [[BLOCKCHAIN CLIENT]] - Configurations for testnet

MNEMONIC_PHRASE=your mnemonic phrase here, 25 words
CLIENT_API_URL=client-api-url-algordand
INDEXER_API_URL=indexer-api-url-algordand
CLIENT_TOKEN=your-client-token-here

# [[BLOCKCHAIN CLIENT]] - Configurations for mainnet

MAINNET_MNEMONIC_PHRASE=your mnemonic phrase here, 25 words
MAINNET_CLIENT_API_URL=client-api-url-algordand
MAINNET_INDEXER_API_URL=indexer-api-url-algordand
MAINNET_CLIENT_TOKEN=your-client-token-here


# [[BLOCKCHAIN CLIENT]] - Configurations for localnet

LOCAL_MNEMONIC_PHRASE=your mnemonic phrase here, 25 words
LOCAL_CLIENT_API_URL=client-api-url-algordand
LOCAL_INDEXER_API_URL=indexer-api-url-algordand
LOCAL_CLIENT_TOKEN=your-client-token-here

# [[DATABASE]] - Configurations
SOURCE_POSTGRES_USER=postgres-user
SOURCE_POSTGRES_PASSWORD=postgres-password
SOURCE_POSTGRES_HOST=postgres-host
SOURCE_POSTGRES_PORT=postgres-port
SOURCE_POSTGRES_DBNAME=postgres-dbname
SOURCE_POSTGRES_VOLUME=volume-path-for-postgres
